#map-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
}

.select-container {
  min-width: 10em;
  margin-right: 1em;

  label {
    display: block;
    font-weight: bold;
    font-size: small;
  }
  select {
    display: block;
    width: 100%;
    padding: 0.5em;
    border: 1px solid #d1d1d1;
    border-radius: 0.25em;
  }

  input {
    width: 100%;
  }
}

#no-data-year-checkbox {
  min-width: 10em;
  margin-top: 1em;
  cursor: pointer;
  label {
    font-weight: bold;
    font-size: small;
    margin-left: 0.25em;
    cursor: pointer;
  }
  input {
    cursor: pointer;
  }
}
